* {
  box-sizing: border-box;
}


/*----------------------------------------------- Variáveis*/

:root {
  --borda: 2px solid #000;
}

/*  ---------------------------------------------- GRID*/

body {
  font-family: arial;
  color: #000;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "cabecalho"
    "main"
    "rodape";
  height: 100vh;
  margin: 0;
}

/*  ---------------------------------------------- CABEÇALHO*/

header {
  display: flex;
  grid-area: cabecalho;
  /* border: 2px solid yellowgreen; */
  background-color: #ff6b81;
  height: 654px;
  flex-direction: column;
  align-items: center;
  
}

figure {
  /* border: 2px solid black; */
  display: flex;
  gap: 13px;
  margin: 0;
  align-items: center;
  
}

.supe {
  display: flex;
  width: 85%;
  align-items: center;
  /* border: 2px solid blue; */
  justify-content: space-between;
}

.logo {
  /* border: 1px solid black; */
  height: 40px;

}

figure h3 {
  font-size: 20px;
  color: white;
}

.btn1 {
  width: 186px;
  height: 40px;
  background: none;
  border: 2px solid white;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  text-transform: capitalize;
  

}

.esq {
  
  display: flex;
  flex-direction: column;
  /* border: 2px solid brown; */
  align-content: space-around;
  height: 400px;
  

}

.texto {
  display: flex;
  font-size: 29px;
  font-family: helvetica, serif;
  font-weight: bolder;
  color: #fff;
  /* border: 2px solid cyan; */
  height: 220px;
  gap: 25px;
  flex-direction: column;

}


.texto > h1 {
  
  font-size: 29px;
  font-family: helvetica, serif;
  font-weight: bolder;
  color: #fff;
  /* border: 2px solid crimson; */
  margin: 70px 0 0;

}

.texto > p {
  color: #fff;
  font-size: 30px;
  /* border: 2px solid darkgreen; */
  

}

.texto > p, h1 {
  width: 70%;
}

.texto > p {
  color: #fff;
  font-size: 12px;
}

.infer {
  display: flex;
  /* border: 2px solid goldenrod; */
  width: 85%;
  padding: 6% 0;
  align-items: center;
  
}

.dir > img{
  width: 642px;
  /* border: var(--borda); */
  display: flex;
}

.btn2 {
  /* border: 2px solid chartreuse; */
  display: flex;
}

.btn_app {
  color: #ff6b81;
  background-color: #fff;
  border: none;
  padding: 11px 22px;
  border-radius: 5px;
  font-weight: 300;
  margin-right: 13px;

}

.btn_google{
  color: #fff;
  background-color: #ff6b81;
  border: none;
  padding: 11px 22px;
  border-radius: 5px;
  font-weight: 750;
  outline: 2px solid #fff;
  outline-offset: -2px;
}

/* -----------------------------------------PRINCIPAL */



main {
  background-color: white;
  grid-area: main;
  height: 615px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid rgb(224, 95, 35); */

}

article { 
  /* border: 2px solid rgb(198, 224, 48); */
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  
}

article small {
  width: 75%;
  text-align: center;
  color: grey;
  
}

.artigo {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

.artigo > h6{
  color: #ff6b81;
  /* border: 2px solid rgb(76, 0, 255); */
  margin: 0;

}

.artigo > h1 {
  width: 80%;
  text-transform: capitalize;
  /* border: 2px solid rgb(76, 0, 255); */
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  font-weight: 800;
}


.mural {
  display: flex;
  width: 67%;
  gap: 20px;
  flex-wrap: wrap;
  /* border: 2px solid rgb(20, 199, 131); */
  justify-content: center;
  
}

.mural h5{
  color: rgb(66, 66, 66);
}

.mural p{ 
  color: white;
  /* border: 2px solid white; */
  margin: 0;

}

.blocoo {
  display: flex;
  background-color: #ff6b81;
  width:270px;
  height: 115px;
  flex-direction: column;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 15px;

}

.bloco {
  display: flex;
  width: 270px;
  height: 130px;
  background-color: #ff6b81;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin: 0;
  
}

.scopo_mural, h5{ 
  width: 85%;
  text-align: left;
  font-family: tahoma;
  margin: 0;
}

.scopo_mural { 
  width: 85%;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  font-weight: lighter;
}

/* --------------------------------------------RODAPÉ */


footer {
  /* border: 2px solid red; */
  background-color: #ff6b81;
  grid-area: rodape;
  height: 285px;  
  display: flex;
  justify-content: center;
}

.rodape {
  /* border: 2px solid rgb(42, 31, 192); */
  height: 280px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.info {
  /* border: 2px solid rgb(19, 204, 90); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  text-align: center;
}

.titulo_rodape {
  /* border: 2px solid rgb(197, 194, 28); */
  color: white;
  width: 80%;
  text-align: center;
  
}

.rodape2 {
  display: flex;
  /* border: 2px solid rgb(128, 204, 240); */
  width: 60%;
  justify-content: space-between;
}

/*  -------------------------------------------RESPONSIVIDADE */

/*  -------------------------------------------TABLET */

@media screen and (max-width: 1200px) {

  body {
    font-family: arial;
  color: #000;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "cabecalho"
    "main"
    "rodape";
  margin: 0;
  }




}